<style>
  .shipping_icon {
	display: flex;
	align-items: center;
	gap: 15px;
  }
  .delivey_icon{
    background: rgba(217, 217, 217, 0.4);
    padding: 12px 0 12px 4px;
  }
  .shipping_icon img{
    width: 30px;
  }

</style>

<div class="delivey_icon">
  <div class="truck shipping_icon">
    <img src="https://cdn.shopify.com/s/files/1/0838/6628/8436/files/pdp_icons-03-03.png?v=1721047549" />
    <p>Water Resistant Jewelry</p>
  </div>
  <div class="return_icon shipping_icon">
    <img src="https://cdn.shopify.com/s/files/1/0838/6628/8436/files/pdp_icons-03-02.png?v=1721047549" />
    <p>2 Year Warranty</p>
  </div>
</div>

