<style>
  .app-model-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px;
  }
  tr:nth-of-type(2n) {
	background: #eee;
}
</style>
                      <div class="app-model-content">
                          <div class="model_header">
                          <h6 class="model_title" style="display: none;">HOW TO MEASURE YOUR DIAMETER</h6>
                          <span class="close-button">&times;</span>
                        </div>
                        <div class="model_top_header">
                          <h6>Welcome to Our Ring Size Guide,<br>Your Perfect Fit Awaits! </h6>
                          <p>We understand the importance of consistency, which is why we adhere to the standard ring sizes used across the USA. Whether you're familiar with 
              ring sizing or it's your first time shopping for rings, rest assured that the size you've chosen with other brands or previous purchases will align perfectly with our standard sizing.</p>                        
                        </div>
                        <div class="ring_size_table">
                          <table>
                                <thead>
                                  <tr>
                                    <th>US Ring Size</th>
                                    <th>Diameter</th>
                                    <th>Circumference</th>                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-column="frst_data">5</td>
                                    <td data-column="sec_data">15.6mm</td>           
                                    <td data-column="trd_data">49mm</td>          
                                    
                                  </tr>
                                  <tr>
                                    <td data-column="frst_data">6</td>
                                    <td data-column="sec_data">16.5mm</td> 
                                    <td data-column="trd_data">52mm</td> 
                                  </tr>
                                  <tr>
                                    <td data-column="frst_data">7</td>
                                    <td data-column="sec_data">17.2mm</td> 
                                    <td data-column="trd_data">54mm</td>                                  
                                  </tr>   
                                  <tr>
                                    <td data-column="frst_data">8</td>
                                    <td data-column="sec_data">17.8mm</td> 
                                    <td data-column="trd_data">56mm</td>                                   
                                  </tr> 
                                  <tr>
                                    <td data-column="frst_data">9</td>
                                    <td data-column="sec_data">19mm</td> 
                                    <td data-column="trd_data">60mm</td>                                   
                                  </tr> 
                                </tbody>
                              </table>
                        </div>
                        <div class="how_to_measure">
                          <h4>How to measure my fit?</h4>
                          <p>Here are two ways to measure your ring size, via the diameter or the circumference.</p>
                              <a href="/pages/ringsize">Tap here to see the two ways you can measure it.</a>
                        </div>                                           
                    </div>
            
{% schema %}
  {
    "name": "Appbrew size guide",
    "settings": [],
    "presets": [
    {
      "name": "Appbrew Ring Size"
    }
  ]
  }
{% endschema %}