<div class="klaviyo-form-Vt2c87"></div>

{% schema %}
  {
    "name": "Klaviyo Signup",
    "settings": [

    ],

    "presets": [
      {
        "name": "Klaviyo Signup"

      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}