<div id="okendo-star-rating-scroll"></div>

<div data-oke-carousel 
  data-oke-reviews-product-id="shopify-{{ product.id }}" 
  data-oke-header-badge-url="{{ section.settings.link }}" 
  data-oke-header-text="{{ section.settings.heading }}"></div>

{% schema %}
{
  "name": "Okendo Reviews Carousel",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "Okendo Reviews Carousel",
      "category": "Product"
    }
  ]
}
{% endschema %}