
<style>
  tr:nth-of-type(even) { 
	background: #eee; 
	}
   table tr > th, table tr > td{
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  border-right: 1px solid rgb(0, 0, 0) !important;
    }
  .measure_img table{
    border: 1px solid rgb(0, 0, 0) !important;
  }
</style>

<section class="product__wrapper">
  <div class="product__wrapper__inner">
    <div class="model_header">
         <div class="model_below_content">
           <h6>Measure your own Ring Size</h6>
           <p class="header_para">Finding your ring size accurately ensures a perfect fit for your jewelry. Follow these simple 
              steps to measure your ring size at home:</p>
                          <div class='tabs'>
                          <div class='tab-buttons'>
                            <span class='content1 active-tab'>Diameter</span>
                            <span class='content2'>Circumference</span>                               
                          </div>
                          <div class='tab-content-1'>    
                            <div class='content1'> <!-- diameter content start -->
                                <div class="you_need">
                                  <p>Diameter is the measurement across the inner width of the ring</p>
                                  <div class="need_content">
                                    <span>You'll need:</span>
                                    <ul>
                                      <li>A ring that fits you</li>
                                      <li>Ruler</li>
                                    </ul>
                                  </div>
                                </div>
                              <div class="model_first_block">
                              <div class="measure_img">
                                <img src="https://cdn.shopify.com/s/files/1/0838/6628/8436/files/6.jpg?v=1708949633"/>
                              </div>
                              <div class="measure_content">
                                <h6>Step 1:</h6>
                                <p>Find a ring that fits.</p>
                              </div>
                            </div>
                            <div class="model_first_block">
                              <div class="measure_img">
                                <img src="https://cdn.shopify.com/s/files/1/0838/6628/8436/files/REING-SIZE.-change-jpg.jpg?v=1709195447"/>
                              </div>
                              <div class="measure_content">
                                <h6>Step 2:</h6>
                                <p>Lay ring on top of ruler, and measure the widest area inside the ring from inner edge to inner edge. Round to the closest whole millimetre.</p>                                
                              </div>
                            </div>
                            <!-- <div class="model_first_block">
                              <div class="measure_img">
                                <img src="https://cdn.shopify.com/s/files/1/0838/6628/8436/files/2_1bc7b52f-100c-46e2-82f8-d88d568aa6ab.jpg?v=1708949633"/>
                              </div>
                              <div class="measure_content">
                                <h6>Tip:</h6>
                                <p>If your ring is a different shape and is not circular, measure the shortest distance across.</p>
                              </div>
                            </div>                             -->
                          <div class="model_first_block">
                            <div class="measure_img">
                             <table>
                                <thead>
                                  <tr>
                                    <th>US Ring Size</th>
                                    <th>Circumference</th>                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-column="First Name">5</td>
                                    <td data-column="Last Name">15.6mm</td>                                   
                                  </tr>
                                  <tr>
                                    <td data-column="First Name">6</td>
                                    <td data-column="Last Name">16.5mm</td>                                    
                                  </tr>
                                  <tr>
                                    <td data-column="First Name">7</td>
                                    <td data-column="Last Name">17.2m</td>                                  
                                  </tr>   
                                  <tr>
                                    <td data-column="First Name">8</td>
                                    <td data-column="Last Name">17.8mm</td>                                  
                                  </tr> 
                                </tbody>
                              </table>
                            </div>
                            <div class="measure_content">
                              <h6>Step 3:</h6>
                              <p>Compare the Diameter to our size chart and there you have your perfect ring size!</p>
                            </div>
                          </div>                      
                              </div>    <!-- diameter content end -->
                            
                              <div class='content2'> <!-- Circumference content start -->
                                  <div class="you_need">
                                    <p>Circumference is the measurement around the base of the finger</p>
                                    <div>
                                      <span>You'll need:</span>
                                      <ul>                                        
                                        <li>A ring that fits you</li>
                                        <li>Ruler</li>
                                      </ul>
                                    </div>
                                 </div>
                                <div class="model_first_block">
                          <div class="measure_img">
                            <img src="https://cdn.shopify.com/s/files/1/0838/6628/8436/files/5.jpg?v=1708949633"/>
                          </div>
                          <div class="measure_content">
                            <h6>Step 1:</h6>
                            <p>Cut a long strip of paper that is 5mm wide.</p>
                          </div>
                        </div>
                        <div class="model_first_block">
                          <div class="measure_img">
                            <img src="https://cdn.shopify.com/s/files/1/0838/6628/8436/files/4_1.jpg?v=1708949633"/>
                          </div>
                          <div class="measure_content">
                            <h6>Step 2:</h6>
                            <p>Wrap a strip of paper around the base of desired finger. For the most accurate result, pull paper as tight as possible.</p>
                            <p>*Don’t worry! The correct ring size is determined based on a tight measurement. The ring itself won’t fit that tight.</p>
                          </div>
                        </div>
                        <div class="model_first_block">
                          <div class="measure_img">
                            <img src="https://cdn.shopify.com/s/files/1/0838/6628/8436/files/REING-SIZE.-change-1-jpg.jpg?v=1709195447"/>
                          </div>
                          <div class="measure_content">
                            <h6>Step 3:</h6>
                            <p>Make sure the paper is evenly overlapped and pulled tight, and mark where the strip of paper meets itself.</p>
                          </div>
                        </div>
                       
                        <div class="model_first_block">
                          <div class="measure_img">
                           <table>
                              <thead>
                                <tr>
                                  <th>US Ring Size</th>
                                  <th>Circumference</th>                                    
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td data-column="First Name">5</td>
                                  <td data-column="Last Name">49mm</td>                                   
                                </tr>
                                <tr>
                                  <td data-column="First Name">6</td>
                                  <td data-column="Last Name">52mm</td>                                    
                                </tr>
                                <tr>
                                  <td data-column="First Name">7</td>
                                  <td data-column="Last Name">54mm</td>                                  
                                </tr>   
                                <tr>
                                  <td data-column="First Name">8</td>
                                  <td data-column="Last Name">56mm</td>                                  
                                </tr> 
                              </tbody>
                            </table>
                          </div>
                          <div class="measure_content">
                            <h6>Step 4:</h6>
                            <p>Measure the length of the strip of paper in millimetres. Round to the closest whole millimeter and then compare the circumference to our size chart and there you have your perfect ring size!</p>
                          </div>
                        </div>
                        
                              </div>  <!-- Circumference content end -->
                          </div>
                        </div>
                        <div class='credit'></div>
                        <div class="measure_footer">
                          <p>Still need personal assistance?</p>
                          <span>Drop us an email at contact@behyou.com and we’ll assign you a personal shopper!</span>
                        </div>
                        </div> 
    </div>  
  </div>
</section>


<script>
   document.addEventListener("DOMContentLoaded", function() {
        $('.tab-content-1>div').hide();
        $('.tab-content-1>div').first().slideDown();
        $('.tab-buttons span').click(function(){
        var thisclass=$(this).attr('class');
        $('#lamp').removeClass().addClass('#lamp').addClass(thisclass);
        $('.tab-content-1>div').each(function(){
          if($(this).hasClass(thisclass)){
            $(this).fadeIn(800);
          }
          else{
            $(this).hide();
          }
        });
        });
      const tabs = document.querySelectorAll('.tab-buttons span');
  const tabContents = document.querySelectorAll('.tab-content-1 > div');

  tabs.forEach((tab, index) => {
    tab.addEventListener('click', () => {
      // Remove active class from all tabs and contents
      tabs.forEach(t => t.classList.remove('active-tab'));
      tabContents.forEach(tc => tc.style.display = 'none');

      // Add active class to clicked tab and show corresponding content
      tab.classList.add('active-tab');
      tabContents[index].style.display = 'block';
    });
  });
     });
</script>

{% schema %}
{
  "name": "Ring Size",
  "settings": [

  ],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "Ring Size"
    }
  ]  
}
{% endschema %}