
   .swiper-container {
      width: 100%;
      height: 100%;
    }
    .landing_block_slider .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .landing_block_slider .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  .main-content{
    min-height: 0;
  }
  .product_detail h4{
    font-size: 22px;
    font-family: AvenirRoman;
  }
  .product_detail h5{
    font-size: 20px;
    font-weight: 700;
  }
  .product_detail h6{
    font-size: 14px;
  font-family: AvenirLight;
  }
  .product_detail p{
    font-size: 13px;
    color: green;
    margin-top: 0;
    margin-right: 9px;
    font-weight: bold;
  }
  .product_detail span{
    font-size: 12px;
    font-weight: 400;
  }
  .landing_block_slider .swiper-button-next, .landing_block_slider .swiper-button-prev {
	cursor: pointer;
	color: var(--swiper-navigation-color,#1c1d1e) !important;
    width: 0 !important;
    height: 0 !important;
  }
  .landing_block_slider .swiper-button-next::after, .landing_block_slider .swiper-button-prev::after {
    font-size: 25px !important;
  }  
.landing_block_slider .swiper-pagination{
  position: relative !important;
  bottom: 0 !important;
}
.landing_block_slider .swiper-pagination-bullet-active{
    background: #000 !important;
  }
.delivey_icon{
  margin: 10px 0px;
}
.landing_block h2{
   font-style: italic;
  text-align: center;
  padding-bottom: 15px;
}
.sticky-bar {
  position: fixed;
  bottom: -100px; 
  left: 0;
  width: 100%;
  background-color: #fff; 
  z-index: 1000; 
  transition: bottom 0.3s ease; 
}
.add-to-cart-btn-sticky {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.load_more_btn{
  text-align: center;
}
.sticky-show {
  bottom: 0; 
}
.sticky-bar h4, h5{
  font-size: 15px;
}
.add-to-cart-btn {
	background: #000;
	color: #fff;
	padding: 17px 20px;
    width:100%;
  font-size: 18px;
}
.add-to-cart-btn-sticky {
	background: #000;
	color: #fff;
	padding: 27px 20px;
    width:100%;
  font-size: 18px;
}
  .landing_block_slider .video-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.landing_block_slider .video-container video {
  position: unset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust this based on your layout requirements */
}
.product_id{
  display: none;
}
.custom_collection_heading {
  width: 100% !important;
  text-align: center;
  flex: auto !important;
}
.custom_collection_heading  h2{
  font-size: 40px;
  font-style: italic;
}
@media only screen and (min-width: 990px){
  .landing_block{
    width: 1400px;
    margin: 0 auto;
  }
}